@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.default-text{
    color: inherit;
    text-decoration: none;
    text-transform: capitalize !important;
}

@font-face {
    font-family: "Circular Bold";
    src: url("./../../assets/font/Circular_Bold.ttf");
  }
