@import "./../../scss/main.scss";

.menu-container {
  flex-grow: 1;
  .menu-bar {
    box-shadow: none;
    .menu-toolbar {
      padding: $sixteen;
      display: flex;
      justify-content: space-between;
      .menu-button{
          padding:0px;
      }
      .menu-icon {
        width: 60px;
      }
    }
  }
}

.language-button {
  padding: 0px $twelve;
  margin: $twelve;
  @include boxShadow();
}
.language-flag {
  width: $twofive;
  margin-right: $ten;
}
.language {
  font-size: 18px;
}
