@mixin loaderAnim($animation-name) {
  @keyframes #{$animation-name} {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin boxShadow() {
  box-shadow: 0 3px 10px rgba(177, 190, 201, 0.48);
}

@mixin inputContainer() {
  border-radius: 10px;
  font-size: $twenty;
  border: 0px solid $light-gray;
  @include boxShadow;
  &:focus {
    outline: 0px;
    border: 2px solid $dark-gray;
  }
  @media screen and (max-width: 800px) {
    margin-right: 0px;
  }
}
