@mixin loaderAnim($animation-name) {
	@keyframes #{$animation-name} {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@mixin boxShadow(){
	box-shadow: 0 3px 10px rgba(177,190,201,.48);
}
