$primary-grey: rgba(0, 0, 0, 0.1);
$primary-color: rgb(59, 59, 59);
$light-gray: #d9d9d9;
$dark-gray: #737373;
$twenty:20px;
$red:#f44336;
$twelve:12px;
$sixteen:16px;
$ten:10px;
$fifteen:15px;
$twofive:25px;
$thirty:30px;