@import "./../../scss/main.scss";

$radio-padding: 15px 25px 15px 15px;

.form-container {
  min-height: 369px;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  form {
    width: 100%;
  }

  .form-fieldset {
    border: 0;
    margin-top: 40px;
    min-inline-size: inherit;
    .form-legend {
      font-family: "Circular Bold";
      font-size: 28px;
      line-height: 32px;
      color: rgb(59, 59, 59);
      text-align: left;
      margin-bottom: $twenty;
    }

    .form-text-input-block {
      display: flex;
      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      div {
        width: 50%;
        @media screen and (max-width: 800px) {
          width: 100%;
          margin: 10px 0px;
        }
      }
    }

    .form-label {
      visibility: hidden;
    }

    .form-input {
      @include inputContainer;
      width: stretch;
      padding: 15px;
      &.invalid {
        border: 2px solid $red;
      }
    }

    .form-invalid {
      color: $dark-gray;
      padding-top: 10px;
      color: $red;
    }

    .radio-block {
      display: flex;
      .radio-group {
        @media screen and (max-width: 800px) {
          flex-direction: column;
          width: 100%;
        }
        .radio-container {
          @include inputContainer;
          padding: $radio-padding;
          &.checked {
            border: 2px solid $primary-color;
          }
          @media screen and (max-width: 800px) {
            margin: 10px 0px;
          }
        }
      }
    }

    .form-button-container {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
    }
    
    .form-review-container {
      padding: 12px;
      border-radius: 10px;
      margin-top: 35px;
      @include boxShadow();
      display: grid;
      grid-template-columns: auto auto;
      @media screen and (max-width: 800px) {
        grid-template-columns: auto;
      }

      .form-review-field {
        padding: 20px;
        display: flex;
        align-items: center;
        .form-review-icon {
          svg {
            font-size: 25px;
            margin-right: 15px;
            color: $dark-gray;
          }
        }
        .form-review-label {
          font-family: "Roboto";
          font-weight: bold;
          font-size: 16px;
          text-transform: capitalize;
          margin-bottom: 10px;
        }
        .form-review-value {
          text-transform: capitalize;
          overflow-wrap: anywhere;
        }
      }
      .form-submit {
        margin-top: 30px;
      }
    }
  }
}
