@import "./../../scss/main.scss";

.form-container {
  min-height: 369px;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  form {
    width: 100%;
  }
}
